<div class="c-post-view-share">
    <a class="c-post-view-share__item c-post-view-share__item--twitter" href="https://twitter.com/intent/tweet?text={{encode title}}&amp;url={{url absolute="true"}}" rel="noopener noreferrer" target="_blank">
        Twitterでシェア
    </a>
    <a class="c-post-view-share__item c-post-view-share__item--facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" rel="noopener noreferrer" target="_blank">
        Facebookでシェア
    </a>
    <a class="c-post-view-share__item c-post-view-share__item--line" href="http://line.me/R/msg/text/?{{url absolute="true"}}" rel="noopener noreferrer" target="_blank">
        LINEでシェア
    </a>
    <a class="c-post-view-share__item c-post-view-share__item--hatena" href="http://b.hatena.ne.jp/entry/{{url absolute="true"}}" rel="noopener noreferrer" target="_blank">
        Hatenaでシェア
    </a>
</div>
