<!DOCTYPE html>
<html lang="ja">
<head>
    {{>"head"}}
    {{ghost_head}}
</head>

<body class="{{body_class}}">
    <div id="site-wrapper" class="c-site-wrapper">
        <div id="site-viewport" class="c-site-viewport">
            {{>"sidebar"}}

            <div id="site-content" class="c-site-content">
                {{> "mobile-header"}}
                {{{body}}}
            </div>
        </div>
    </div>

    <script src="{{asset "js/scripts.js"}}"></script>
    <!--<iframe style="border: 0; height: 200px; width: 600px;" src="https://matomo.alexandremercier.jp/index.php?module=CoreAdminHome&action=optOut&language=ja&backgroundColor=d9c9a1&fontColor=00071b&fontSize=1em&fontFamily=%22Hiragino%20Sans%22"> -->
    {{ghost_foot}}
</body>
</html>
